@import '../import.scss';

button {
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 0.5em 1.4em;
    font-size: 1em;
    background-color: #00000000;
    cursor: pointer;
    transition: 0.7s;
    border-color: $background-color-light-l;
}

button>p {
    transition: .7s;
    opacity: 0.6;
}

button:hover {
    border-color: rgb(117, 117, 117);
}

button:hover>p {
    opacity: 1;
}

.btngreen:hover {
    border-color: $green-color;
}

.btngreen:hover>p {
    border-color: $green-color;
}

.btngreen {
    background-color: $green-color;
}

.btngreen>p {
    border-color: $green-color;
    color: white;
    opacity: 1;
}


// button:focus,
// button:focus-visible {
//     outline: 4px auto -webkit-focus-ring-color;
// }