@import '../import.scss';

input {
    background-color: $background-color-dark;
    padding: 1vh 2.2vh;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid $border-color;
    outline: none;
    cursor: pointer;
}

label {
    @include positioncenterbyflex;
    justify-content: start;
    padding: 0 0 0 2vh;
}

label>p {
    transition: .7s;
}

label:hover {
    cursor: pointer;
}

input:focus {
    border: 1px solid $border-color;
}

// input[type=text] {}

.inputvarning {
    color: $main-color;
    position: absolute;
    bottom: -2vh;
    left: 1vh;
    font-size: 1.4vh;
    transition: .5s;
}

input[type=date] {
    border: none;
    outline: none;
    padding: 1vh 1.8vh;
}

input[type=time] {
    border: none;
    outline: none;
    padding: 1vh 1.8vh;
}

input[type=date]::-webkit-calendar-picker-indicator {
    background-image: url('/svg/calendar.svg');
    cursor: pointer;
}

input[type=time]::-webkit-calendar-picker-indicator {
    background-image: url('/svg/clock.svg');
    cursor: pointer;
}


.clocktable>div {
    background-color: $background-color-dark;
    padding: 1vh 2vh;
    height: 3vh;
    width: 5vh;
    transition: .4s;
    transform: translate(-10vh, 0);
    position: absolute;
}

.clocktable>div:hover {
    background-color: $background-color-light;
}

@mixin on-circle($item-count, $circle-size, $item-size) {
    padding: 0;
    position: absolute;
    top: 4.8vh;
    left: 10vh;
    border-radius: 50%;
    list-style: none;

    >* {
        display: block;
        width: $item-size;
        height: $item-size;
        margin: -($item-size / 2);

        $angle: (
            360 / $item-count
        );
    $rot: 0;

    @for $i from 1 through $item-count {
        &:nth-of-type(#{$i}) {
            transform:
                rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
        }

        $rot: $rot + $angle;
    }
}
}

.clocktable {
    margin: 0 0 0 2vh;
    position: absolute;
    left: 10vh;
    cursor: pointer;
    z-index: 2;
    transition: .7s;
    opacity: 0;
}

.circkle {
    @include on-circle($item-count: 16, $circle-size: 40vh, $item-size: 11vh);
    opacity: 1;
}