@import './custom/button.scss';
@import './custom/loader.scss';
@import './custom/input.scss';
@import './import.scss';
@import './custom/modal.scss';
@import './custom/children.scss';

* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  font-size: medium;
  letter-spacing: .2vh;
  color: rgba(255, 255, 255, 0.87);
}

body {
  background-color: $background-color;
}

.logo {
  transition: .7s;
  min-width: 32px;
}

.logo:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 4vh #E74343);
}

header {
  @include dftPlate;
  @include positioncenterbyflex;
  width: 100%;
  height: 6vh;
  border-radius: 0;
  border: 0;
  min-height: 50px
}

header>div {
  @include positioncenterbyflex;
  width: 35%;
  height: 100%;
  transform: translate(-5vh, 0);
  justify-content: space-between;
}

header>div>div {
  display: flex;
  align-items: center;
  gap: 2vh
}

.headerava {
  @include dftava;
}

.centerplate {
  @include dftPlate;
  width: 60vh;
  margin: 0 0 3vh 0;
  min-width: 440px;
  min-height: 200px;
}

.smallcenterplate {
  @include dftPlate;
  width: 60vh;
  margin: 0 0 3vh 0;
  min-width: 440px;
}

.leftpanel {
  @include dftPlate;
  width: 22vh;
  padding: 1vh 0;
  margin: 0.5vh 0;
  min-width: 185px
}

.rightpanel {
  @include dftPlate;
  width: 34vh;
  margin: 1vh 0;
  padding: 2vh 0;
  min-width: 260px;
}

.main {
  display: flex;
  padding: 4vh 0 0 0;
  align-items: start;
  justify-content: center;
  gap: 4vh;
}

.under-color {
  height: 5.8vh;
  min-height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-color: $background-color-dark;
  border-radius: 0 0 8px 8px;
}

.fill {
  @include fillall;
}

.nodisplay {
  display: none;
}

.transition03 {
  transition: .3s;
}

.transition07 {
  transition: .7s;
}

.center {
  display: flex;
  flex-direction: column;
}

.onlineindicator {
  height: 14px;
  width: 14px;
  background-color: $background-color-light-l;
  display: flex;
  border-radius: 50%;
}