@import './custom/button.scss';
@import './custom/loader.scss';
@import './custom/input.scss';
@import './import.scss';
@import './custom/modal.scss';
@import './custom/calendar.scss';
@import './custom/children.scss';
@import './custom/tournament.scss';
@import './pages.scss';

* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  font-size: medium;
  letter-spacing: .2vh;
  color: rgba(216, 216, 216, 0.87);
  text-decoration: none;
  // outline: #E74343 2px dashed;
}

a {
  color: $main-color;
}

body {
  background-color: $background-color;
}

.centerplate {
  @include dftPlate;
  margin: 0 0 30px 0;
}

.smallcenterplate {
  @include dftPlate;
  margin: 0 0 30px 0;
}

.dftcontainer {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 490px;
  width: 55vh;
}

.rightcontainer {
  padding: 2vh 0;
  width: 30vh;
  min-width: 260px;
}

.right {
  width: 30vh;
  min-width: 260px;
  overflow: hidden;
}

.leftpanel {
  @include dftPlate;
  margin: 0.5vh 0;

  width: 22vh;
  min-width: 185px;
  padding: 1vh 0 0 0;
}

.leftpanel>div {
  height: 37px;
}

.fullplate {
  @include dftPlate;
  border-radius: 2px;
  width: 76vh;
  margin: 0 0 3vh 0;
  min-width: 560px;
  min-height: 1000px;
  transform: translateY(-100px);
  z-index: -1;
}

.rightpanel {
  @include dftPlate;
  margin: 0 0 30px 0;
}

.containernsmallwindow {
  @include positioncenterbyflex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 60px;
  min-width: 320px;
}

.logo {
  transition: .7s;
  min-width: 32px;
}

.logo:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 4vh #E74343);
}

header {
  @include dftPlate;
  @include positioncenterbyflex;
  height: 6vh;
  border-radius: 0;
  border: 0;
  min-height: 50px;
  // z-index: 11;
}

header>div {
  @include positioncenterbyflex;
  width: 35%;
  height: 100%;
  transform: translate(-5vh, 0);
  justify-content: space-between;
}

header>div>div {
  display: flex;
  align-items: center;
  gap: 2vh
}

.headerava {
  @include dftava;
}

.centerplate:hover,
.smallcenterplate:hover,
.fullplate:hover,
.leftpanel:hover,
.rightpanel:hover {
  transform: translateY(-3px);
}

.center>div {
  width: 100%;
}

.main {
  display: flex;
  padding: 4vh 0 0 0;
  align-items: start;
  justify-content: center;
  gap: 30px;
}

.under-color {
  height: 6vh;
  min-height: 40px;
  width: 100%;
  padding: 0 0 5px 0;
  background-color: #242424d7;
  border-radius: 0 0 8px 8px;
}

.fill {
  @include fillall;
}

.nodisplay {
  display: none;
}

.transition03 {
  transition: .3s;
}

.transition07 {
  transition: .7s;
}

.center {
  display: flex;
  flex-direction: column;
}