@import './import.scss';

.centerplate {
    @include dftPlate;
    margin: 0 0 40px 0;
}

.smallcenterplate {
    @include dftPlate;
    margin: 0 0 3vh 0;
}

.dftcontainer {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 58vh;
    min-width: 460px;
}

.rightcontainer {
    padding: 2vh 0;
    width: 30vh;
    min-width: 260px;
}

.right {
    width: 30vh;
    min-width: 260px;
}

.leftpanel {
    @include dftPlate;
    margin: 0.5vh 0;

    width: 22vh;
    min-width: 185px;
    padding: 1vh 0 0 0;
}

.leftpanel > div {
    height: 34px;
}

.fullplate {
    @include dftPlate;
    border-radius: 2px;
    width: 76vh;
    margin: 0 0 3vh 0;
    min-width: 560px;
    min-height: 1000px;
    transform: translateY(-100px);
    z-index: -1;
}

.rightpanel {
    @include dftPlate;
    margin: 0 0 35px 0;
}

.containernsmallwindow {
    @include positioncenterbyflex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 60px;
    min-width: 320px;
}