.onlineindicator {
    height: 14px;
    width: 14px;
    background-color: $background-color-light-l;
    display: flex;
    border-radius: 50%;
}

.transfers {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.background {
    height: 14vh;
    min-height: 100px;
    border-radius: 8px 8px 0 0;
    background-color: rgba(0, 0, 0, 0.377);
    position: relative;
    width: 100%;
}

.background>div {
    @include dftava;
    width: 9vh;
    height: 6vh;
    position: absolute;
    bottom: -30px;
    left: 40px;
}

.about {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 50px 0 30px 70px;
    gap: 20px;
    width: 100%;
}

.aboutcareer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.aboutcareer>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0;
}

.aboutcareer>div>img {
    height: 50px;
    width: 70px;
}

.scrollhandlerref {
    width: 100%;
    padding: 20px 0 0 0;
    height: 10px;
    background-color: #e7434300;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trophy>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px 0;
    flex-wrap: wrap;
}

.trophy>div>img {
    height: 50px;
    width: 70px;
}

.kep {
    margin: 0 0 20px 0;
}

.cashheader {
    display: grid;
    grid-template-columns: 16% 40% 15% 30%;
    gap: 10px;
    grid-template-rows: 1fr;
    padding: 20px 30px;
    margin: 10px 0;
}

.cashheader>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.likecoment {
    display: flex;
    align-items: center;
    justify-content: center;
    @include dftPlate;
    background-color: $background-color-light-l;
    outline: 1px solid $border-color;
    gap: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

i {
    cursor: pointer;
}

.coment {
    display: flex;
    align-items: center;
    justify-content: center;
}

#redcash>div {
    color: $main-color;
}

.greencash>div {
    color: $green-color;
}

.headmeeting {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


.headmeeting>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


.headmeeting>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.meetingrepair {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    height: 280px;
}

.positioncenterbyflex {
    @include positioncenterbyflex;
    flex-direction: column;
}

.regwindow {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    width: 640px;
    overflow: hidden;

    padding: 20px 0;
}

.regwindow>div {
    width: 100%;
    height: 100%;
    display: flex;
}


.windowreg {
    display: flex;
    align-items: start;
    width: 50%;
    gap: 30px;
    flex-direction: column;
}

.regentrance {
    display: flex;
    position: relative;
    overflow: hidden;
}

.regentrance>div {
    display: flex;
    width: 100%;
    padding: 50px 0 20px 0;
}

.regentrance>div>div {
    width: 100%;
    height: 100%;
}

.regwarning>p {
    font-size: 13px;
    cursor: pointer;
    padding: 0 0 0 10px;
}

.navreg {
    position: absolute;
    right: -10px;
    cursor: pointer;
    top: -50px;
    display: flex;
    gap: 20px;
}

.navreg>p>img {
    transform: translateY(7px);
}

.hover3:hover {
    transform: translate(0, -3px);
}


.carousel {
    height: 400%;
    width: 100%;
    transition: 1.6s;
}

.carousel>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25%;
    transform: translate(0, -50px);
}

.carousel>div>p {
    transform: translate(0, 50px);
}

.carouselimg {
    width: 40px;
}

.chat {
    min-height: 600px;
    min-width: 500px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    gap: 20px;
}

.chatwindow {
    max-height: 600px;
    min-height: 600px;
    display: flex;
    gap: 20px;
    flex-direction: column-reverse;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: none;
}

.chatwindow::-webkit-scrollbar {
    display: none;
}

.message {
    display: flex;
    gap: 20px;
}

.messagecontext {
    max-width: 300px;
    background-color: #242424d7;
    padding: 20px;
    border-radius: 0 10px 10px 10px;
}

.edit {
    padding: 0 0 0 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.edit>div {
    display: flex;
    gap: 20px;
}

.edit>span {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.role {
    background-color: #c78d11;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.reference>a>img {
    margin: 40px 20px 0 0;
    width: 40px;
    transition: .3s;
}

.reference>a>img:hover {
    transform: translate(0, -6px);
}

.adminpanel {
    display: flex;
    flex-direction: column;
    gap: 30px;
}